.error {
    position: absolute;
    top: 3em;

    width: 50%;

    display: none;
    justify-content: center;

    background-color: rgb(219, 65, 65);

    padding: 13px 1em;

    border-radius: 5px;
}

@media (max-width: 776px) {
    .error {
        left: 0;
        padding: 1em;
        width: 100%;
    }
}