.show_products {
    margin-top: 3em;
}

.products_header {
    margin-bottom: 1.3em;
    font-weight: bold;

    width: 85%;

    padding-bottom: .7em;

    border-bottom: 2px solid #f1f0f0;

    display: flex;
    justify-content: space-between;

    padding-right: 2em;
}

.product {
    display: flex;
    justify-content: space-between;

    width: 85%;

    padding-right: 4em;
    padding-bottom: 1em;

    margin-bottom: 1.3em;

    border-bottom: 2px solid #f1f0f0;
}

@media (max-width: 591px) {
    .show_products {
        margin-top: 6em;
    }
    .product {
        width: 100%;
        padding-right: 10px;
    }

    .products_header {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .product, .products_header {
        width: 100%;
        padding-right: 0;
    }
    .product {
        padding-right: 10px;
    }
}