.navbar {
    display: flex;
    flex-direction: column;
    gap: 2em;

    transition: all;
    transition-duration: 0.150s;

    text-overflow: clip;
    overflow: hidden;
}

.navbar .route {
    font-size: 1.23em;
    color: #15343d;
    opacity: .7;
    font-family: 'Lato', sans-serif;

    position: relative;
    margin-left: 1.3em;
    transition: all;
    transition-duration: .2s;
}

.route_section label div a {
    display: block;
    width: 100%;
}

.route_section label div {
    transition: all;
    transition-duration: .2s;

    border-radius: 4px;

    padding: .3em;
    width: 100%;
}

.route_section label div:hover {
    background-color: #69658d;
    opacity: .6;
}
.route_section label div:hover a {
    color: #FFF;
    opacity: 1;
}

.route_section label{
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.route_section label span {
    font-size: 1.1em;
    opacity: .7;

    font-family: 'Lato', sans-serif;
}

.close_menu {
    position: absolute;
    top: .8em;
    font-size: 2em;
    right: 1em;
}

.blur {
    top: 0;
    left: 0;
    width: min-content !important;
    height: 50px;

    background-color: black;
    position: absolute;
}

@media (max-width: 780px) {
    .navbar {
        position: absolute;
        width: 0%;

        top: 0;
        left: 0;
        
        height: 100vh;

        background-color: rgb(46, 121, 156);

        gap: 3.5em;

        align-items: center;
        justify-content: center;

        font-size: 1.1em;

        /* border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; */
    }
    .navbar .route_section label {
        width: 204px;
    }

    .navbar .route {
        color: white;
        opacity: 1;
    }
}

@media (min-width: 781px) {
    .close_menu {
        display: none !important;
    }
    .navbar {
        width: fit-content !important;
    }
} 

@media (max-width: 270px) {
    .navbar {
        font-size: 1.05em;
    }
}