* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Lato', sans-serif;
}

.main_content {
  padding: 2em 2.3em;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-gap: 1.5em;
}