* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Lato', sans-serif;
}

.main_content {
  padding: 2em 2.3em;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-gap: 1.5em;
}

@media (max-width: 780px) {
  .main_content {
    margin-top: 2em;

    grid-template-columns: 1fr;
    justify-items: center;

    padding: 1.6em 1.9em;
  }

  .main_content div {
    width: 100%;
    align-content: center;
  }
}

@media (max-width: 420px) {
  .main_content {
    padding: 2em .7em;
  }
}